<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="background">

  <ion-grid>
      <ion-row  class="container-profile">
          <ion-list>
              <ion-col size='12'>
             
                <ion-img style="width: 100%;" src="../../../assets//2.jpg"></ion-img>

               
                <p style="position: absolute; font-size: 60px;">Welcome </p>
              
              </ion-col>

          </ion-list>
      </ion-row>

      <ion-grid>
        <ion-row style="color: red;">
          <ion-col size-xs="3">Name</ion-col>
          <ion-col size-xs="3">Phone</ion-col>
          <ion-col size-xs="3">Date</ion-col>
          <ion-col size-xs="3">Duration</ion-col>
        </ion-row> 
        <ion-row style="background-color: bisque;">
          <ion-col size-xs="3">tanaka</ion-col>
          <ion-col size-xs="3">
            0782144245
          </ion-col>
          <ion-col size-xs="3">23/01/21</ion-col>

          <ion-col size-xs="3">10 min</ion-col>
        </ion-row>
        <ion-row  style="background-color: rgb(102, 223, 152);">
          <ion-col size-xs="3">tanaka</ion-col>
          <ion-col size-xs="3">
            0782144245
          </ion-col>
          <ion-col size-xs="3">23/01/21</ion-col>

          <ion-col size-xs="3">10 min</ion-col>
        </ion-row>
        <ion-row style="background-color: rgb(97, 211, 144);" >
          <ion-col size-xs="3">tanaka</ion-col>
          <ion-col size-xs="3">
            0782144245
          </ion-col>
          <ion-col size-xs="3">23/01/21</ion-col>

          <ion-col size-xs="3">10 min</ion-col>
        </ion-row>
        <ion-row  style="background-color: rgb(252, 94, 94);">
          <ion-col size-xs="3">tanaka</ion-col>
          <ion-col size-xs="3">
            0782144245
          </ion-col>
          <ion-col size-xs="3">23/01/21</ion-col>

          <ion-col size-xs="3">10 min</ion-col>
        </ion-row>

      </ion-grid>













  </ion-grid>


</ion-content>
