<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list class="ion-no-padding">

    <ion-row  class="container-profile">
      <ion-list>
          <ion-col size='12'>
         
            <ion-img style="width: 100%;" src="../../../assets//2.jpg"></ion-img>

           
            <p style="position: absolute; font-size: 60px;">Welcome </p>
          
          </ion-col>

      </ion-list>
  </ion-row>


    <ion-item >
      <ion-avatar slot="start">
        <ion-img class="user-img" src="../../../assets/1.svg"></ion-img>
       
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h2>tanaka
            </h2>
            <ion-avatar class="chatCount">3</ion-avatar>
          </div>

          <div class="timeEnd">
            <ion-text slot="end">10:20</ion-text>
          </div>
        </div>
        <p class="widthHalf">Hello there</p>
      </ion-label>
    </ion-item>
    
    <ion-item >
      <ion-avatar slot="start">
        <ion-img class="user-img" src="../../../assets/1.svg"></ion-img>
       
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h2>tanaka
            </h2>
            <ion-avatar class="chatCount">3</ion-avatar>
          </div>

          <div class="timeEnd">
            <ion-text slot="end">10:20</ion-text>
          </div>
        </div>
        <p class="widthHalf">Hello there</p>
      </ion-label>
    </ion-item>
    
    <ion-item >
      <ion-avatar slot="start">
        <ion-img class="user-img" src="../../../assets/1.svg"></ion-img>
       
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h2>tanaka
            </h2>
            <ion-avatar class="chatCount">3</ion-avatar>
          </div>

          <div class="timeEnd">
            <ion-text slot="end">10:20</ion-text>
          </div>
        </div>
        <p class="widthHalf">Hello there</p>
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-avatar slot="start">
        <ion-img class="user-img" src="../../../assets/1.svg"></ion-img>
       
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h2>tanaka
            </h2>
            <ion-avatar class="chatCount">3</ion-avatar>
          </div>

          <div class="timeEnd">
            <ion-text slot="end">10:20</ion-text>
          </div>
        </div>
        <p class="widthHalf">Hello there</p>
      </ion-label>
    </ion-item>
    
    <ion-item >
      <ion-avatar slot="start">
        <ion-img class="user-img" src="../../../assets/1.svg"></ion-img>
       
      </ion-avatar>
      <ion-label>
        <div class="withcount">
          <div class="nameAvatar">
            <h2>tanaka
            </h2>
            <ion-avatar class="chatCount">3</ion-avatar>
          </div>

          <div class="timeEnd">
            <ion-text slot="end">10:20</ion-text>
          </div>
        </div>
        <p class="widthHalf">Hello there</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>