<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="background">

  <ion-grid>
      <ion-row  class="container-profile">
          <ion-list>
              <ion-col size='12'>
             
                <ion-img style="width: 100%;" src="../../../assets//2.jpg"></ion-img>

               
                <p style="position: absolute; font-size: 60px;">Welcome </p>
              
              </ion-col>

          </ion-list>
      </ion-row>




        <ion-row>
          <ion-col>

              <ion-button
                  fill="solid"
                  shape="round"
                  expand="full"
                 color="primary"
        >
                 SCHEDULE APPOINTMENT

                  
              </ion-button>

          </ion-col>
          

      </ion-row>


      <ion-row>
        <ion-col>

            <ion-button
                fill="solid"
                shape="round"
                expand="full"
               color="danger"
      >
               VIEW BOOKINGS

                
            </ion-button>

        </ion-col>
        

    </ion-row>

    <ion-row>
      <ion-col>

          <ion-button
              fill="solid"
              shape="round"
              expand="full"
             color="primary"
    >
             MESSAGES

              
          </ion-button>

      </ion-col>
      

  </ion-row>

  <ion-row>
    <ion-col>

        <ion-button
            fill="solid"
            shape="round"
            expand="full"
           color="danger"
  >
           CREATE DOCTOR ROOM

            
        </ion-button>

    </ion-col>
    

</ion-row>

<ion-row>
  <ion-col>

      <ion-button
          fill="solid"
          shape="round"
          expand="full"
         color="primary"
>
         CAPTURE CONTACT

          
      </ion-button>

  </ion-col>
  

</ion-row>






  </ion-grid>


</ion-content>
